*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  background-color: rgba(19, 25, 33);
  width: 100%;
  height: 60px;
  display: grid;
  grid-template: "header-logo header-enviar-a box-header-search-input header-flag-country header-identificate header-devoluciones header-carrito" 60px /
                  150px       120px           1fr                     70px                  160px             120px               140px;
}
.header-logo{
  grid-area: header-logo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 70px;
}
.img-main-logo{
  width: 90%;
  color: white;
  padding-left: 15px;
  padding-bottom: 20px;
}
.header-enviar-a{
grid-area: header-enviar-a;
display: grid;
grid-template: "box-icon-location box-texto-enviar-a"
                "box-icon-location box-texto-colombia" /
                 20px               70px;
}
.box-icon-location{
height: 60px;
grid-area: box-icon-location;
color: white;
font-size: 1.3em;
display: flex;
align-items: center;
}
.icon-location{
font-size: .9em;
}
.box-texto-enviar-a{
grid-area: box-texto-enviar-a;
color: white;
position: relative;
top: 10px;
font-size: .7em;
font-weight: 300;
}
.box-texto-colombia{
  grid-area: box-texto-colombia;
  font-size: .9em;
  font-weight: 500;
  color: white;
  position: relative;
  bottom: 4px;
}
.box-header-search-input{
  grid-area: box-header-search-input;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search-input{
height: 40px;
width: 100%;
display: grid;
grid-template: "box-filtro-todos box-buscar-amazon box-lupa" /
                70px              1fr               50px;
}
.box-filtro-todos{
grid-area: box-filtro-todos;
background-color: white;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.filtro-todos{
display: flex;
align-items: center;
height: 40px;
background-color: rgb(230, 230, 230) ;
color: rgb(116, 107, 107);
border-radius: 12px 0 0 12px;
}
.header-todos{
padding: 0 4px 0 15px;
font-size: .7em;
}
.icon-chevron{
font-size: .7em;
color: rgb(116, 107, 107);
}
.box-buscar-amazon{
grid-area: box-buscar-amazon;
background-color: white;
width: 100%;
}
.input-busqueda{
border: none;
height: 40px;
/* width: 100%; */
padding-left: 10px;
font-size: 1.1em;
}
.box-lupa{
height: 40px;
background-color: orange;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.lupa{
grid-area: lupa;
}
.icon-lupa{
font-size: 1.1em;
}
.header-flag-country{
  grid-area: header-flag-country;
}
.box-flag{
display: flex;
justify-content: center;
margin-left: 65px;
margin-top: 20px;
}
.idioma{
color: white;
font-weight: 600;
font-size: .9em;
padding: 0 2px 0 3px;
}
.icon-chevron-idioma{
color: white;
font-size: .7em;
position: relative;
top: 3px;
}
.flag-usa{
width: 30px;
}
.header-identificate{
  grid-area: header-identificate;
}
.txt-hola-identificate{
color: white;
font-size: .7em;
position: relative;
top: 5px;
margin-left: 40px;
}
.txt-cuenta-listas{
color: white;
font-size: .9em;
font-weight: 600;
position: relative;
margin-left: 40px;
}
.icon-chevron-identificate{
color: white;
font-size: .7em;
position: relative;
top: 3px;
}
.header-devoluciones{
  grid-area: header-devoluciones;
}
.txt-devoluciones{
color: white;
font-size: .7em;
position: relative;
top: 5px;
margin-left: 40px;
}
.txt-pedidos{
color: white;
font-size: .9em;
font-weight: 600;
position: relative;
margin-left: 40px;
}
.header-carrito{
grid-area: header-carrito;
}
.box-carrito{
display: flex;
justify-content: center;
margin-top: 13px;
}
.icon-carrito{
color: white;
font-size: 2em;
position: relative;
top: 3px;
}
.txt-carrito{
color: white;
font-size: .9em;
font-weight: 600;
position: relative;
display: flex;
margin-top: 15px;
}

.main-menu {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  background-color: black;
}

li {
  list-style: none;
}

.hori {
  display: inline-block;
  padding: 10px;
  color: white;
}

.hori:hover {
  cursor: pointer;
  color: rgb(158, 158, 158);
  border: 1 solid white;
}

.box-modal{
  display: none;
}
/* modal */
.box-modal.visible{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(78, 75, 75, 0.623); */
  z-index: 10;
}
.modal {
  margin-top: 10px;
  width: 95%;
  height: 80%;
  z-index: 20; 
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template: "main-img-principal info-product"  /
                   1fr                350px;
}
/* mg principal  */
.main-img-principal {
   grid-area: main-img-principal;
   width: 60%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-img-principal {
   width: 75%;
   height: auto;
}
.img-modal1{
  width: 24%;
  height: 70%;
}
/* exto de producto */
.info-product {
   grid-area: info-product;
  padding: 30px 60px 30px 30px;
  margin-top: 50px;
}
/* equis */
.btn-close {
position: absolute;
top: 5px;
right: 10px;
font-size: 1.3em;
border: 3px solid rgb(44,176,224,0.3);
border-radius: 6px;
padding: 0 3px;
}
/* texto del producto */
.txt-caracteristicas-modal{
  font-size: 1.1em;
  text-align: justify;
  line-height: 1em;   
}
/* img pequeñas */
.thubnails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}
.thub{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(220,220,220,.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thub:hover{
  border: 2px solid rgb(28, 28, 125);
}
.img-thub{
  width: 56%;
  object-fit: contain;
  padding: 2px;
}
.fondo{
  margin: 20px;
  margin-top: 70px;
  display: grid;
  grid-template: "imgfondo    imgprin   infoproduc precioprodu" /
                    150px      350px     500px       400px;
}
.imgfondo{
  width: 70%;
  object-fit: contain;
  padding: 2px;
}
.fa-arrow-up-from-bracket{
  position: absolute;
  margin-top: 10px;
  left: 600px;
  font-size: 1.2em;
  border-radius: 50px;
  padding: 3px 5px 3px 5px;
  line-height: 0.8;
}
.imgpeque{
  margin-bottom: 10px;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
}
.img{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(220,220,220,.9);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.img:hover{
  border: 2px solid rgb(149, 155, 226);
}
.imgprin{
  grid-area: imgprin;
  height: 580px;
  max-width: 460px;
}
.infoproduc{
  grid-area: infoproduc;
  margin-left: 120px;
  margin-top: 20px;
  margin-right: 50px;
}
.info{
  font-size: 25px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 9px;

}
.info2,.info5{
  display: block;
  font-size: 14px;
}
.info2{
  color: rgb(24, 109, 158);
  font-weight: 200;
}
.info2:hover{
  text-decoration: underline;
  color: rgb(170, 76, 42);
}
.calificacione{
  color: rgb(24, 109, 158);
  text-decoration: none;
}
.calificacione:hover{
  text-decoration: underline;
  color: rgb(170, 76, 42);
}
.info4{
  color: rgb(24, 109, 158);
  text-decoration: none;
  font-size: 15px;
}
.info4:hover{
  text-decoration: underline;
  color: rgb(170, 76, 42);
}
.info5{
  font-size: 12px;
  margin-top: 5px;
}
.masbajo{
  border: none;
  background-color: rgb(204, 12, 57);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
}
.ico{
  color: rgb(255, 164, 28); 
}
.precioprodu{
  padding: 15px;
  padding-top: 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 50px;
  font-size: 0.9em;
  color: rgb(66, 59, 59);
}
.dolar{
  font-size: 10px;
  vertical-align: text-top;
}
.precio{
  font-size: 20px;
  font-weight: 400;
}
.entrega{
  display: block;
  margin-top: 5px;
}

.chev{
  font-size: 0.7em;
  color: gray;
}
.txtdevoluciones{
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(24, 109, 158);
  text-decoration: none;
  margin: 9px;
  font-size: 15px;
}
.txtdevoluciones:hover{
  text-decoration: underline;
  color: rgb(170, 76, 42);
}
.lugar{
  font-weight: 600;
  color: rgb(132, 132, 132);
}
.deposito{
  color: rgb(79, 78, 78);
}
.detalle{
  color: rgb(24, 109, 158);
  text-decoration: none;
  font-size: 15px;
  display: block;
  margin-top: 5px;

}
.detalle:hover{
  text-decoration: underline;
  color: rgb(170, 76, 42);
}
.hora{
  display: block;
  margin-top: 10px;
}
.dia{
  font-weight: 600;
  font-size: 1em;
}
.tiempo{
  color: green;
}
.envio{
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  }
  .texto{
    color: rgb(24, 109, 158);
    text-decoration: none;
    display: block;
    font-size: 0.9em;
  }
  .texto:hover{
    color: rgb(170, 76, 42);
  }
  .location{
    margin-right: 9px;
  }
  .disponible{
    color: green;
    font-size: 1.3em;
  }
  .button1{
    width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px ;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 216, 20);
  }
  .button1:hover{
    cursor: pointer;
    background-color: rgb(224, 190, 20);
  }
  .button2{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 164, 28);
  }
  .button2:hover{
    cursor: pointer;
    background-color: rgb(227, 147, 27);
  }
.estrella{
  color: rgb(255, 164, 28);
  font-size: 0.9em;
  margin-right: 2px;
}
.box-estrellas{
  display: flex;
  flex-direction: row;
}
.info3{
  font-weight: 200;
  margin-right: 10px;
  margin-bottom: 11px;
}
/* Estrellas */

.estrella{
  color: rgb(255, 164, 28);
  font-size: 0.9em;
  margin-right: 2px;
}
.box-estrellas{
  display: flex;
  flex-direction: row;
}
.box-estrella{
  display: none;
}
.info3{
  font-weight: 200;
  margin-right: 10px;
  margin-bottom: 11px;
}
.tabla-calificaciones{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 620px;
  margin-top: 350px;
  background-color: white;

}
.cal-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cal {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;    
}

.cal > div {
  background-color: orange;
  height: 20px;
  transition: 1s all linear;
  width: 0;
}
.btn{
  margin-top: 10px;
  background-color: plum;
  border-radius: 10px;
  padding: 8px;
  border: none;
  color: rgb(36, 33, 33);
}
.estrellas-fijas{
  font-size: 12px;
  color: rgb(255, 164, 28);
}
.encabezado{
  display: flex;
  flex-direction: row;
  gap: 20px;
  vertical-align: text-top;
  margin-bottom: 9px;
}
h3{
  font-size: 17px;
}
.puntuacion-estrella{
  text-decoration: none;
  color: rgb(9, 84, 84);
}
.puntuacion-estrella:hover{
  color: orange;
  text-decoration: underline;
}
.califica{
  font-size: 15px;
}
.ver-opiniones{
  font-size: 15px;
  text-decoration: none;
  color: rgb(9, 84, 84);
}
.ver-opiniones:hover{
  color: orange;
  text-decoration: underline;
}
.junto{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

