*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031254;
    padding-top: 80px;
}
h1 .fa-cart-shopping{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius:  20px 20px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: #6e89f3;
    box-shadow: .1rem .2rem .3rem #15297c;
}
.scroll img{
    filter: invert(15%);
}
.scroll h1{
    color: rgb(0, 0, 0);
}
.scroll .fa-cart-shopping{
    color: white;
}
.fa-cart-shopping{
    filter: invert(100%); /* pasar de ngro a blanco*/
    width: 45px;
    height: auto;
}
.fa-cart-shopping{
    color: black;
    cursor: pointer;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #384ea4;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #020a2e;
}
.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.informacion>p:first-child{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio{
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: #2D4263;

}