* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'Inria Sans' ;
}
/* inria-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inria-sans-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
body{
    justify-content: center;
    display: flex;
    align-items: center;

}
.main-content {
    width: 700px;
    border: 2px solid rgb(0, 26, 143);
    border-radius: 10px;
    margin: 10px 0 0 10px;
}
.box-subtotal {
    padding: 20px 20px 12px 20px;
    font-size: 1.7em;
}

#subtotal{
    font-size: 1.4em;
    font-weight: 500;
}
.box-proceder-pago {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgb(0, 26, 143);
    color: white;
    border-radius: 20px;
    height: 60px;
    margin: 20px;
}
#numeroProductos{
    font-weight: 500;
    font-size: 1.1em;
}
.contenedor{
    display: grid;
    grid-template: "empty-left productos informacion empty-right"
                    "empty-left box-buttons-cantidad    informacion  empty-right" /
                       20px       2fr        3fr       20px     ;
}
.productos{
    width: 320px;
    height: 340px;
    object-fit: cover;
    margin-left: 27px;
    margin-bottom: 10px;
    grid-area: productos;
}
.informacion{
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}
.little{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}
.description {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 15px;
}
.autor, .precio, .material {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
}
.signo-precio-unidad,.precio-unidad  {
    font-size: 2.2em;
    font-weight: 600;
}
.box-buttons-cantidad{
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 100px;
}
.box-minus, .box-cant, .box-plus{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 26, 143);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.box-minus{
    background-color: rgb(0, 26, 143);
    color: white;
    border-radius: 10px 0 0 10px;
}
.box-plus{
    background-color: rgb(0, 26, 143);
    color: white;
    border-radius:0 10px 10px 0;
}
.info-precio{
    font-weight: 700;
}