body{
    background-color: #3d3d3d;
    width: 100%;
    height: 100vh;
}
.box-colors{
    display: flex;
    flex-direction: row;
}
.box-style{
    color: white;
    display: flex;
    font-size: 1.6em;
    font-weight: 900;
    width: 300px;
    height: 300px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


span{
    color: white;
    font-size: 1.6em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Cinzel';
}
/* cinzel-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cinzel-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/cinzel-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cinzel-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cinzel-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cinzel-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cinzel-v19-latin-700.svg#Cinzel') format('svg'); /* Legacy iOS */
  }

h2{
    color: white;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Concert One';
}
/* concert-one-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/concert-one-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/concert-one-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
       /* IE6-IE8 */
       url('../fonts/concert-one-v17-latin-regular.woff2') format('woff2'),
       /* Super Modern Browsers */
       url('../fonts/concert-one-v17-latin-regular.woff') format('woff'),
       /* Modern Browsers */
       url('../fonts/concert-one-v17-latin-regular.ttf') format('truetype'),
       /* Safari, Android, iOS */
       url('../fonts/concert-one-v17-latin-regular.svg#ConcertOne') format('svg');
    /* Legacy iOS */
 }


.box-1{
    background-color: aquamarine;
}
.box-2{
    background-color: blue;
}
.box-3{
    background-color:lightgreen;
}
.box-4{
    background-color:rgb(255, 0, 204);
}
.box-5{
    background-color:rgb(102, 255, 0);
}
.box-6{
    background-color:rgb(153, 51, 255 );
}
.box-7{
    background-color:#1ABC9C;
}
.box-8{
    background-color:#66CCFF;
}
.box-9{
    background-color:#BDBDBD ;
}
.primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("../img/Imagen3.png");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #003b72;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #003b72;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822;
   }

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}