* {
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: rgb(48, 48, 48,.8);
    font-size: 1.3rem;
    width: 100%;
}
nav ul {
    width: 100%;
    text-align: left;
    list-style: none;
    position: absolute;
    left: 0;
    background-color: rgb(48, 48, 48,.8);
}
/* Primer nivel */
.firs-item {
    margin-left: 50px;
}
nav > ul > li {
    display: inline-block;
    width: 250px;
    line-height: 70px;
    text-align: center;
}
nav > ul > li:hover {
    background-color: goldenrod;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
ul li {
    position: relative;
}
/* segundo nivel */
nav li li {
    max-height: 0;
    overflow: hidden;
}
nav li:hover > ul > li {
    max-height: 500px;
    overflow: visible;
    text-align: center;
    border-right: 1px solid rgba(245, 245, 245, .4);
    border: 1px solid rgba(245, 245, 245, .4);
}
nav li > ul > li:hover {
    background-color: goldenrod;
    cursor: pointer;
}
/* Tercer nivel */
nav ul ul ul {
    left: 100%;
    top: 0;
} 