*{
    font-family: tahoma, sans-serif;
}
.main-box{
    display: flex;
    justify-content: center;
}
.content-box{
    border: 1px solid rgb(240,0,0);
    width: 600px;
    margin-top: 80px;
}
form{
 width: 100%;
 padding:  20px 40px;
}
.form-tittle{
    height: 80px;
    color: white;
    background-color: rgb(240,0,0);
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
}
label{
    display: block;
    font-weight: bold;
}
input[type="text"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4em;
    border: 0;
    border-bottom: 1px solid rgb(64, 64, 64);
}
input[type="radio"] {
    margin-top: 15px;
    font-size: 1.4em;
    cursor: pointer;
}
select{
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 15px;
}
input[type="checkbox"] {
   margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #BB8FCE;
    line-height: 55px;
    color: white;
    font-size: 1.2em;
    font-weight: 900;
}
input[type="button"] {
    margin-top: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    width: 90%;
    border: 0;
    justify-content: center;
    display: flex;
    background-color: burlywood;
}