* {
    margin: 0;
    border: 0;
    font-family:  Tahoma, sans-serif;
    color: white;
}

nav {
    font-size: 1.3rem;
    width: 100%;
    background-color: black;
}

nav ul {
    width: 100%;
    text-align: left;
    list-style: none;
    position: absolute;
    left: -10;
    background-color:black ;
}
/*Primer nivel*/
.menu-style {
   margin-left: 50px;
}
nav > ul > li {
    display: inline-block;
    width: 200px;
    line-height: 70px;
    text-align: center;

   
}
nav > ul > li > li:hover {
	display: inline-block;
	width: 250px;
	line-height: 70px;
}

a {
    text-decoration: none;
    color: white;
}

ul li{
    position: relative;
}
/* segundo nivel */
nav li li{
    max-height: 0;
    overflow: hidden;
}
nav li:hover > ul > li{
max-height: 500px;
overflow: visible;
text-align: center;
border-right: 1px solid rgb(0, 0, 0);
border-bottom:1px solid rgb(255, 255, 255) ;
border-top:1px solid rgb(0, 0, 0) ;
}
nav li > ul > li:hover{
    background-color: rgb(0, 56, 102) ;
    cursor: pointer;
}
/* Tercer nivel */
nav ul ul ul {
    left: 100%;
    top: 0;
}

body{
   
.button-borders{
    border: 2px;  
    margin-right: 0; 
    margin-left:10px; 
    display:block; 
    top: 35em;
}

.primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("../img/Imagen3.png");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #003b72;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #003b72;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 20px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822;
   }

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}
