*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.header{
    background-color:rgb(255,255,255);
    position: absolute;
    width: 100%;
    
    box-shadow: 8px 8px 8px rgb(56, 50, 50);

}
.menu1{
    display: inline-block;
    border-right: 1px solid rgb(9, 94, 27) ;
    padding: 15px 15px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
   
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.menu1:hover{
    font-size: 0.9em;
}
.menu{
    text-align: center;
}

.contenido{
    background-color: white;
    
    height: 200vh;
    margin-top: 15%;
    margin-left: 13%;
    margin-right: 13%;
    border-radius: 6px;
}
.body{   
    margin-top:10%;
    margin-left: 6px;
    
    position: absolute;
}

.menu_body{
    width: 250px;

}
.menu1_body{
    background-color: rgb(87,87,86);
    margin: 2px;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    padding: 10px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
#seleccion{
    background-color: rgb(87,87,86);
    border: none;
    color: rgb(0, 0, 0);
    

}

.button-borders{
    border: 2px;  
    margin-right: 0; 
    margin-left:10px; 
    display:block; 
    top: 1em;
}

.primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("../img/Imagen3.png");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #003b72;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #003b72;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 20px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822;
   }

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}